<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ScriptsPath" value="" />
    <add key="MappingsPath" value="c:\mappings\Encuentrame" />
    <add key="NHibernate.ConfigurationFile" value="nhibernate.cfg.xml" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="EmailSavePath" value="c:\dev\mail"/>
  </appSettings>
  <connectionStrings >
    <add name="Encuentrame" connectionString="Data Source=:memory:;Version=3;New=True;"/>
  </connectionStrings>
  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>