<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="linqToSql" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Nails_LinqToSql;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="entityFramework" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Nails_EntityFramework;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="nhibernate" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Nails_NHibernate;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Empty" connectionString="" />
  </connectionStrings>
  <appSettings>
    <add key="TestConnString" value="Empty" />
    <add key="AppSettingsValue" value="test123" />
    <add key="AppSettingsValueInt" value="123" />
    <add key="NailsFramework.Tests.IoC.StaticDependencies.ClassWithStaticIntFromConfiguration.ConfigurationValue" value="123" />
    <add key="NailsFramework.Tests.IoC.Lemmings.LemmingWithValuesFromConfiguration.ConfigurationValue" value="testConfigurationValueForDefaultKey" />
    <add key="NailsFramework.Tests.IoC.StaticDependencies.ClassWithStaticValuesFromConfiguration.ConfigurationValue" value="testConfigurationValueForDefaultKey" />
    <add key="LinqToSql.ConnectionStringName" value="linqToSql" />
    <add key="EntityFramework.ConnectionStringName" value="entityFramework" />
    <add key="NHibernate.ConfigurationFile" value="hibernate.cfg.xml" />
    <add key="Bar.ConfigurationValue" value="bar-value" />
    <add key="GenericLemming&lt;System.String>.ConfigurationValue" value="generic-value" />
    <add key="GenericLemming2.ConfigurationValue" value="generic2-value" />
    
    <!--Parameters for testing log4net logging. Keep this synced with the log4net.config file-->
    <add key="log4net.Config" value="log4net.config" />
    <add key="NailsFramework.Tests.Logging.Log4net.Log4netTests.LogFileName" value="log4net.log" />
    <add key="NailsFramework.Tests.Logging.Log4net.Log4netTests.LoggerName" value="log4netTests" />
  </appSettings>
</configuration>