<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Keep the information in this file synced with the parameters for testing log4net logging in App.config file-->
  <log4net>
    <root>
      <level value="ALL" />
    </root>
    
    <logger name ="log4netTests">
      <appender-ref ref="FileLog" />
    </logger>

    <appender name="FileLog" type="log4net.Appender.FileAppender">
      <param name="File" value="log4net.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value=" [DateTime:%date]	[Message:%message]	[Level:%-5level]	%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

  </log4net>
</configuration>
