@using Encuentrame.Web.Helpers
@model Encuentrame.Web.Models.Accounts.RoleModel

@Html.ErrorSummary()


<div class="row">
    <div class="col-md-6">
        @using (Html.BeginEditSection())
        {
            @Html.EditorFor(m => m.Name)
        }
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @using (Html.BeginEditSection())
        {
            @Html.EditorFor(x => x.Passes)
        }
    </div>
</div>
