@inherits Encuentrame.Support.Email.Templates.BaseTemplate

<html>
<head>
    <title>@Model.ObjectTypeCreated fue creado.</title>
</head>
<body>
    <h2>El usuario @Model.UserName creo @Model.ObjectTypeCreated: @Model.Description</h2>
</body>
</html>