@inherits Encuentrame.Support.Email.Templates.BaseTemplate

<html>
<head>
    <title>Bienvenido</title>
</head>
<body>
    <h2>Bienvenido @Model.Username a @Model.Site</h2>
    <p>@Model.WelcomeInstructions</p>
</body>
</html>