@using System.Globalization
@model DateTime?
<div class="form-group">
    <label class="control-label">@Html.DisplayNameFor(model => model)</label>
    <p class="form-control-static">@(!Model.HasValue?"":Model.Value.ToString("g",DateTimeFormatInfo.InvariantInfo))</p>
</div>
