@using Encuentrame.Web.Helpers
@model decimal
@{
    var mask = "";
    if (ViewData.ModelMetadata.AdditionalValues.ContainsKey(AdditionalMetadataKeys.Mask))
    {
        mask = ViewData.ModelMetadata.AdditionalValues[AdditionalMetadataKeys.Mask].ToString();
    }
    else
    {
        mask = MaskPatterns.DecimalDefault;
    }
}

<div class="form-group">
    @Html.RequiredMark(model => model)
    @Html.LabelFor(model => model)
    @Html.TextBoxFor(model => model, new {data_reverse = false, data_mask_pattern = mask, @class = "form-control mask-control"})
    @Html.ValidationMessageFor(model => model)
</div>


