@using Encuentrame.Web.Helpers
@model string

@{
    var maxLength = Html.GetStringLengthValue(model => model);
    if (maxLength == 0)
    {
        maxLength = 500;
    }
}
<div class="form-group">
    @Html.RequiredMark(model => model)
    @Html.LabelFor(model => model)
    @Html.TextBoxFor(model => model, new {@maxLength = maxLength, @class = "form-control"})
    @Html.ValidationMessageFor(model => model)
</div>


